.imgPer{
    width:100px;
    height:100px;
    border-radius:150px;
    display:block;
    margin:auto;
}

.btn{
    background-color: #02a826dc;
    border-radius:150px;
}

#trans{
    background-color: transparent;
}


